body {
    font-family: Helvetica, sans-serif;
    background-color: #fff;
    color: #394a51;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    text-align: center;
    padding: 15px;
    background-color: #f2f2f2;
}

#todo-container {
    max-width: 400px;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#todo-list {
    padding: 20px;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #394a51; 
}

.todo-item input[type="checkbox"] {
    margin-right: 10px;
}

.todo-input {
    padding: 15px;
    border-top: 1px solid #394a51;
}
