body {
    font-family: Helvetica, sans-serif;
    background-color: #2aff7f;
    color: #000000;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

header {
    text-align: center;
    line-height: 25px;
    height: 50px;
    width: 300px;
    padding: 5px 15px;
    border-radius: 20px 20px 0 0;
    background-color: #fec541;
}

#todo-container {
    max-width: 400px;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

#todo-list {
    padding: 20px 20px 0;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #394a51; 
}

.todo-item input[type="checkbox"] {
    margin-right: 10px;
    
}

#todo-input {
    padding: 30px;
    /* border-top: 1px solid #394a51; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    border-radius: 10px;
    color: grey;
    height: 30px;
    width: 50px;
}

#todo-input input[type="text"] {
    height: 30px;
    width: 260px;
    border-radius: 10px;
}